@import "components/presentationals/Header/Header.less";
@import "components/presentationals/Footer/Footer.less";
@import "components/presentationals/Profile/ProfileInfo/ProfileInfo.less";
@import "components/presentationals/Profile/ProfileOverview/ProfileOverview.less";
@import "components/presentationals/Profile/ProfileStats/ProfileStats.less";
@import "components/presentationals/Profile/ViewReposButton/ViewReposButton.less";
@import "components/presentationals/Repository/RepoItem/RepoItem.less";
@import "components/presentationals/Repository/RepoListContainer/RepoListContainer.less";
@import "components/presentationals/Repository/RepoSearch/RepoSearch.less";
@import "components/presentationals/Repository/RepoContent/RepoContent.less";
@import "components/presentationals/Repository/RepoDetail/RepoDetail.less";


@primary-color: #224365;
@text-primary-color: #5c6877;
@lighter-primary-color: #8f9aa8;
@white-text-color: #fff;
@thin-white-text-color: #aeb6c0;
@light-grey-background-color: #f5f5f5;
@almost-white-text-color: #aeb6c0;
@repo-item-border-color: #e5e5e5;
@repo-search-input-color: #8f9aa8;
@markdown-text-color: #333;
@markdown-link-color: #0366d6;


@font-face {
  font-family: GothamPro;
  src: url(assets/fonts/GothamPro/GothamPro.woff);
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(assets/fonts/GothamPro-Bold/GothamPro-Bold.woff);
}

@font-face {
  font-family: GothamPro-Medium;
  src: url(assets/fonts/GothamPro-Medium/GothamPro-Medium.woff);
}

body {
  margin: 0;
  padding: 0;
  font-family: GothamPro;
}
